on: push
jobs:
  lint:
    uses: ashep/ci/.github/workflows/go-lint.yaml@v1
    with:
      govulncheck_allow_failure: true

  test:
    uses: ashep/ci/.github/workflows/go-test.yaml@v1

  build:
    needs:
      - lint
      - test
    uses: ashep/ci/.github/workflows/go-build.yaml@v1
    with:
      registry_user: ${{ vars.REGISTRY_USER }}
    secrets:
      registry_password: ${{ secrets.REGISTRY_PASSWORD }}
